body {
    margin: 0;
    padding: 0;
    background-color: rgb(228, 175, 201);
    display: flex;
    justify-content: center;
    align-items: center;
     }
     
.container {
    width: 500px;
    margin: 10px;
    padding: 30px;
    background-color: white;
    
}
.rectangle-img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    margin-bottom: 0;
    border-radius: 30px;
}

.heading {
    margin-top: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    background-color: rgb(240, 184, 212);
    margin: 10px;
    padding: 10px;
}

.heading2 {
    color:rgb(107, 7, 57);
}

.heading3 {
    color: rgb(167, 8, 87);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px ;
}

td {
    border: 1px solid #ddd;
    border-top: none;
    border-left: none;
    border-right: none;
}

tr:last-child td {
    border-bottom: none;
}

.data {
    color: rgb(107, 7, 57);
}